<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225497801780-a2mbbogmjjcpj8kh3g6ept7k5ptikmrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225497801780-a2mbbogmjjcpj8kh3g6ept7k5ptikmrr</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ZH_ByLbWUGauqrb91bq978IScYoFYVk</string>
	<key>GCM_SENDER_ID</key>
	<string>225497801780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.yerkebulanice.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-460e9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-460e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225497801780:ios:de5ade767a47de6188d661</string>
</dict>
</plist>